name: CI Workflow

on:
  workflow_dispatch:
  push:
    branches: [ master, main, develop ]
  pull_request:
    branches: [ master, main, develop ]

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

      - name: Grant permissions for gradlew
        run: chmod +x ./gradlew || true

      - name: Build the project
        run: ./gradlew clean build --no-daemon --stacktrace
        env:
          GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx2g"

  dependency-check:
    name: OWASP Dependency-Check
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Prepare dependency-check directories
        run: mkdir -p build/reports/dependency-check dependency-check-data

      - name: List dependencies to be analyzed
        run: |
          echo "Listando archivos a escanear..."
          find ./src -type f \( -name "*.jar" -o -name "*.war" -o -name "*.ear" -o -name "*.pom" \)

      - name: Download and Set up OWASP Dependency-Check CLI
        run: |
          echo "Descargando OWASP Dependency-Check CLI..."
          curl -L https://github.com/jeremylong/DependencyCheck/releases/download/v8.2.1/dependency-check-8.2.1-release.zip -o dependency-check.zip

          echo "Validando que el archivo ZIP se haya descargado..."
          if [ ! -f dependency-check.zip ]; then
            echo "Error: No se pudo descargar el archivo ZIP de Dependency-Check."
            exit 1
          fi

          echo "Extrayendo el contenido del archivo..."
          unzip -q dependency-check.zip -d dependency-check-cli

          echo "Verificando la existencia del script de inicio..."
          find dependency-check-cli -name "dependency-check.sh"

          echo "Aplicando permisos al script de inicio..."
          chmod +x dependency-check-cli/dependency-check/bin/dependency-check.sh

      - name: Run OWASP Dependency-Check CLI
        run: |
          echo "Ejecutando OWASP Dependency-Check..."
          ./dependency-check-cli/dependency-check/bin/dependency-check.sh \
            --scan "./src" \
            --failOnCVSS 7.0 \
            --format ALL \
            --log "./build/reports/dependency-check/owasp-dependency-check.log" \
            --out "./build/reports/dependency-check"

      - name: Check for generated Dependency-Check reports
        run: |
          echo "Verificando reportes generados..."
          ls -R ./build/reports/dependency-check || echo "No se encontraron reportes generados."

      - name: Upload dependency-check report
        uses: actions/upload-artifact@v4
        with:
          name: dependency-check-report
          path: build/reports/dependency-check